@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&display=swap');

.newsreader-font {
  font-family: 'Newsreader', serif;
}

.gurmukhi-font {
  font-family: 'Anek Gurmukhi', system-ui;
}

a {
  font: inherit;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1em;
}

p {
  letter-spacing: 0.05em;
}
