$utilities: map-merge(
  $utilities,
  (
    'font-size':
      map-merge(
        map-get($utilities, 'font-size'),
        (
          responsive: true,
        )
      ),
  )
);

// section-title
.section {
  &-title {
    font-size: 32px;
    font-weight: 900;
    line-height: 38.4px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $neutral-500;
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      font-weight: 900;
      line-height: 28.8px;
    }
  }
}

.hover-overlay {
  position: relative;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba($color: #21252966, $alpha: 0.4);
    transition: opacity 0.3s ease; // 添加過渡效果
  }

  &:hover::before {
    opacity: 1;
  }
}
