<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-content">
      <a class="navbar-brand" href="./index.html">
        <img src="../assets/images/logo.svg" alt="logo" />
      </a>

      <button
        class="navbar-toggler d-lg-none ms-auto"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarContent"
        aria-controls="navbarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">
        <div class="d-flex align-items-center">
          <button
            type="button"
            class="btn-close d-lg-none mb-0"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-label="Close"
          ></button>
        </div>

        <form class="navbar-search" role="search">
          <input class="form-control" type="search" name="search" placeholder="搜尋文章" aria-label="Search" />
          <button class="btn" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>

        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="./article.html">所有文章</a></li>
          <li class="nav-item"><a class="nav-link" href="./subscribe.html">訂閱方案</a></li>
          <li class="nav-item"><a class="nav-link" href="./about.html">關於我們</a></li>
          <li class="nav-item">
            <a href="./signin.html" class="btn btn-custom fs-6 w-100 text-white"> 登入 / 註冊 </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
