.card.card_read {
  height: 100%;
  row-gap: 24px;
  border: none;
  @media (max-width: 768px) {
    width: 325px;
  }

  &:hover,
  &:active {
    .card-img-top {
      opacity: 0.7;
    }
  }

  .card-img-top {
    transition: opacity 0.3s ease;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0px;
  }

  .card-title {
    @include h5;
    color: $neutral-500;
    font-weight: 900;
  }

  .card-text {
    @include fs-1;
    color: $neutral-400;
  }
}
