.card.card_article {
  height: 100%;
  row-gap: 24px;
  border: none;

  &:hover,
  &:active {
    .card-img-top {
      opacity: 0.7;
    }
  }

  .card-img-top {
    transition: opacity 0.3s ease;
    border-radius: 4px;
  }

  .card-body {
    row-gap: 8px;
    padding: 0px;
  }

  .card-title {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .card-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: left;
  }

  .card-footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 0px 0px 24px 0px;
    border-radius: 0px;
    border-top: none;
    border-bottom: 1px solid #adb5bd;
    background-color: transparent;
  }
}
