// article
.section-article {
  &-title h1 {
    @include h1;

    @include media-breakpoint-down(md) {
      @include h4;
    }
  }
  &-title time {
    @include fs-1;
    line-height: 1.2;
    color: $neutral-300;

    @include media-breakpoint-down(md) {
      @include fs-1;
      line-height: 1.5;
    }
  }

  .full-width-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
  }
}

// read
.section-read {
  .card-link {
    text-align: right;
  }
}
