// 母親節強檔活動
.section-momAction {
  &-subTitle {
    font-size: 24px;
    font-weight: 900;
    line-height: 28.8px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $primary-400;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      font-weight: 700;
      line-height: 19.2px;
    }
  }

  &-Title {
    font-size: 32px;
    font-weight: 900;
    line-height: 38.4px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $neutral-500;
    @include media-breakpoint-down(md) {
      font-size: 24px;
      font-weight: 900;
      line-height: 28.8px;
      color: $accent-200;
    }
  }
  .mom-ac {
    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
    }

    &::before {
      background-image: url(../images/bg-1.png);
      left: 0;
      width: 217px;
      height: 81px;
    }

    &::after {
      background-image: url(../images/bg-2.png);
      right: -32px;
      width: 300px;
      height: 196px;
    }

    // overflow: hidden;
    @include media-breakpoint-down(lg) {
      &::after {
        right: 0;
      }
    }

    @include media-breakpoint-down(lg) {
      &::before {
        display: none;
      }

      &::after {
        background-image: url(../images/bg-2-sm.png);
        width: 160px;
        height: 104px;
      }
    }
  }
}

// 大家都在看
.section-everyLook {
  .list-group {
    p {
      text-indent: -1em;
    }
    p::before {
      content: '•';
      color: black;
      font-size: 20px;
    }
  }
}

// Vivre 給你意想不到的生活風格提案
.section-showcase {
  .hover-overlay img {
    width: 100%;
  }

  .showcase-content {
    p {
      @include h5;
      color: $primary-400;
      @media (max-width: 768px) {
        @include h6;
        text-align: center;
      }
    }
    h2 {
      @media (max-width: 768px) {
        @include h4;
        text-align: center;
        font-weight: 900;
      }
    }
  }
}

// 想看什麼主題由你決定
.section-decision {
  .decision-title {
    @include h2;
    @media (max-width: 768px) {
      @include h4;
      font-weight: 900;
    }
  }
  .decision-txt {
    @include h4;
    color: $neutral-500;
    @media (max-width: 768px) {
      @include h5;
    }
  }
}
