<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>about</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- banner -->
      <section class="section-banner">
        <div class="container-fluid container-md px-0 px-lg-2">
          <div class="row g-0">
            <div class="col">
              <picture>
                <source media="(min-width:768px)" srcset="../assets/images/about-banner.png" />
                <img src="../assets/images/about-banner-sm.png" alt="banner" class="w-100 w-100" />
              </picture>
            </div>
          </div>
        </div>
      </section>

      <section class="section-breadcrumb">
        <div class="container">
          <div class="row">
            <div class="col">
              <!-- breadcrumb -->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="./index.html">首頁 </a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">關於我們</li>
                </ol>
              </nav>
              <h1>關於我們</h1>
            </div>
          </div>
        </div>
      </section>

      <!-- about-us -->
      <section class="section-about-us py-7 py-sm-10">
        <div class="container">
          <div class="row row-gap-5 mb-sm-9">
            <div class="col-md-6 px-0 px-lg-2">
              <picture>
                <source media="(max-width: 767px)" srcset="../assets/images/about-1-sm.png" />
                <img src="../assets/images/about-1.png" alt="從帳篷內眺望日落和山景" class="w-100 vivre-image" />
              </picture>
            </div>

            <div class="col-md-6">
              <div class="sub-section vivre-intro">
                <div class="vivre-desc">
                  <h2 class="vivre-name event-date-month">Vivre</h2>
                  <p class="vivre-txt">
                    vivre這個品牌名稱源自法語,意為"生活"、"活著"。它象徵著我們對於高品質生活的熱愛與追求。vivre
                    旨在成為一個分享美好生活體驗、發掘生活質感的平台。
                  </p>
                </div>
                <div class="brand-desc">
                  <h3>我們的品牌價值</h3>
                  <ul class="brand-values-list">
                    <li class="list-item">熱愛生活,好奇心永存</li>
                    <li class="list-item">品味獨具,講究生活質感</li>
                    <li class="list-item">分享真實生活,啟發生活靈感</li>
                    <li class="list-item">推廣慢生活哲學,注重內在修為</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-gap-5 flex-wrap-reverse">
            <div class="col-md-6">
              <div class="sub-section style-features">
                <h2 class="sub-section-title">風格特色</h2>
                <p class="feature-desc">
                  vivre
                  所展現的風格特色,可以用知性、親和、用心、優雅與獨特這些詞語來概括。我們講求內容的原創性與探索精神,不跟風追隨潮流話題,而是真誠分享獨特的生活視角與體驗。無論是旅行、美食、居家、時尚等生活領域,我們都希望能夠呈現出與眾不同、縝密入微、內外兼具的見解,給讀者帶來嶄新的感受和啟迪。
                  <br />
                  無論您是對美食、旅行、居家生活還是時尚風尚有獨到的見解和體會,只要切合vivre的價值理念與風格調性,我們都熱烈歡迎您加入這個平台,與我們一起分享和交流生活的點點滴滴。
                </p>
              </div>
            </div>
            <div class="col-md-6 px-0 px-lg-2">
              <picture>
                <source media="(max-width: 767px)" srcset="../assets/images/about-2-sm.png" />
                <img src="../assets/images/about-2.png" alt="從帳篷內眺望日落和山景" class="w-100 feature-image" />
              </picture>
            </div>
          </div>
        </div>
      </section>

      <!-- important-event -->
      <section class="section-timeline bg-primary-200 py-7 py-sm-10">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>大事記</h2>
            </div>
            <div class="col-md-8">
              <div class="timeline">
                <div class="timeline-item d-flex flex-column flex-md-row">
                  <div class="timeline-year"><span>2020</span></div>
                  <div class="timeline-events">
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">5</strong>月</span>
                      <p class="fs-6 event-description">
                        創辦人茱麗葉、亞歷山大和幾個好友在巴黎開設 vivre 生活部落格,紀錄分享他們對美好生活的想法和體驗。
                      </p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">10</strong>月</span>
                      <p class="fs-6 event-description">
                        部落格內容和讀者人數逐漸累積,決定成立 vivre 品牌,開發更多元豐富的內容。
                      </p>
                    </div>
                  </div>
                </div>

                <div class="timeline-item d-flex flex-column flex-md-row">
                  <div class="timeline-year"><span>2021</span></div>
                  <div class="timeline-events">
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">3</strong>月</span>
                      <p class="fs-6 event-description">
                        vivre網站正式上線,除了原創文字內容,還加上了視訊、音訊等多媒體形式。
                      </p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">7</strong>月</span>
                      <p class="fs-6 event-description">
                        與法國本土品牌合作,推出 vivre 首個自有產品線,包括家飾、餐飲用品等生活品味商品。
                      </p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">12</strong>月</span>
                      <p class="fs-6 event-description">
                        總瀏覽人次突破 100 萬大關,獲得實體出版社青睞,出版 vivre 生活風格書籍。
                      </p>
                    </div>
                  </div>
                </div>

                <div class="timeline-item d-flex flex-column flex-md-row">
                  <div class="timeline-year"><span>2022</span></div>
                  <div class="timeline-events">
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">3</strong>月</span>
                      <p class="fs-6 event-description">
                        推出 vivre 生活風格線上課程,聘請各領域專家開設有深度的付費課程。
                      </p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">8</strong>月</span>
                      <p class="fs-6 event-description">
                        vivre 舉辦首屆 vivre 生活節,線上線下同步展開,現場湧入大批品牌粉絲朋友。
                      </p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">10</strong>月</span>
                      <p class="fs-6 event-description">vivre 完成 A 輪融資,獲得知名風投資金青睞。</p>
                    </div>
                  </div>
                </div>

                <div class="timeline-item d-flex flex-column flex-md-row">
                  <div class="timeline-year"><span>2023</span></div>
                  <div class="timeline-events">
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">1</strong>月</span>
                      <p class="fs-6 event-description">vivre 宣布品牌願景"探索更美好的生活",並推出全新視覺形象。</p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">5</strong>月</span>
                      <p class="fs-6 event-description">正式推出付費訂閱會員服務,提供高階獨家內容和會員優惠。</p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">9</strong>月</span>
                      <p class="fs-6 event-description">
                        首次評選年度" vivre 生活風格大獎",表彰在各領域具有開創性的人物及品牌。
                      </p>
                    </div>
                    <div class="timeline-event d-flex">
                      <span class="event-date"><strong class="event-date-month">11</strong>月</span>
                      <p class="fs-6 event-description">
                        首次登場的" vivre 生活節沙龍"在全球主要城市同步舉行,線上線下吸引百萬人觀看。
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- brand-vision -->
      <section class="section-brand py-7 py-sm-10">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="sub-section d-flex flex-column row-gap-6">
                <h2 class="section-title">品牌願景</h2>
                <p class="section-content">
                  我們的目標不僅是為讀者提供高水準的內容，更希望能真正啟發和影響讀者的生活方式與價值觀,引領走向更有意義、品質與質感的生活體驗。我們相信,生活的意義不僅僅在於外在物質條件的滿足,更多的是一種心靈層面的追求,一種對美好事物的不懈向往。因此,vivre
                  的定位是成為啟迪現代人內在生活的引路人,給予靈感啟迪,引領讀者去體驗生活的真諦。
                  <br />
                  我們衷心期盼，vivre
                  能為現代人的生活帶來無限靈感啟發,讓每個人的生活之路不僅優雅、從容,更有內在的意義與價值,豐富而燦爛。讓我們共同努力,將生活過得更有滋有味!期待您一同加入
                  vivre，攜手同行這段美妙的人生旅程。
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
