<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!-- Banner -->
      <section class="section-banner p-0 py-lg-10">
        <div class="container-fluid container-md px-0 px-md-2">
          <div class="position-relative">
            <picture class="d-block">
              <source media="(min-width:576px)" srcset="../assets/images/banner.png" />
              <img src="../assets/images/banner-sm.png" alt="banner-sm" class="w-100" />
            </picture>
            <div
              class="w-100 ps-sm-8 position-absolute top-0 left-0 text-white d-flex flex-column h-100 justify-content-end justify-content-sm-center align-items-center align-items-sm-start pb-8 pb-sm-0"
            >
              <p class="fs-6 fs-sm-5 lh-sm mb-1 mb-sm-2 fw-bold">獻給新世代的生活風格誌</p>
              <p class="fs-3 fs-sm-1 lh-sm mb-4 mb-sm-5 fw-bolder">一起探索生活的無限可能</p>
              <a href="./subscribe.html" class="btn btn-custom">
                馬上訂閱
                <span class="bi bi-arrow-right icon"></span>
              </a>
            </div>
          </div>
        </div>
      </section>

      <!-- 熱門主題 -->
      <section class="section-hotTopic py-8 py-sm-10">
        <div class="container">
          <h2 class="mb-4 fs-4 fs-sm-2">熱門主題</h2>
          <div class="row g-4">
            <!-- Card 1 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-1-sm.png" />
                  <img src="../assets/images/theme-1.png" class="card-img-top" alt="城市漫遊者" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">城市漫遊者</p>
                </div>
              </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-3-sm.png" />
                  <img src="../assets/images/theme-3.png" class="card-img-top" alt="秘境尋蹤人" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">秘境尋蹤人</p>
                </div>
              </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-5-sm.png" />
                  <img src="../assets/images/theme-5.png" class="card-img-top" alt="品味設計家" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">品味設計家</p>
                </div>
              </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-8-sm.png" />
                  <img src="../assets/images/theme-8.png" class="card-img-top" alt="美食探險記" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">美食探險記</p>
                </div>
              </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-2-sm.png" />
                  <img src="../assets/images/theme-2.png" class="card-img-top" alt="美學建築誌" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">美學建築誌</p>
                </div>
              </div>
            </div>
            <!-- Card 6 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-4-sm.png" />
                  <img src="../assets/images/theme-4.png" class="card-img-top" alt="慢活生活行" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">慢活生活行</p>
                </div>
              </div>
            </div>
            <!-- Card 7 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-6-sm.png" />
                  <img src="../assets/images/theme-6.png" class="card-img-top" alt="工藝匠心賞" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">工藝匠心賞</p>
                </div>
              </div>
            </div>
            <!-- Card 8 -->
            <div class="col-md-6 col-lg-3">
              <div class="card hot-card h-100 position-relative">
                <picture>
                  <source media="(max-width: 576px)" srcset="../assets/images/theme-7-sm.png" />
                  <img src="../assets/images/theme-7.png" class="card-img-top" alt="時尚先鋒派" />
                </picture>
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                  <p class="hot-card-text">時尚先鋒派</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 精選文章 -->
      <section class="section-article py-8 py-sm-10">
        <div class="container position-relative">
          <h2 class="mb-4 fs-4 fs-sm-2 d-block d-md-none">精選文章</h2>
          <div class="row flex-column-reverse flex-md-row">
            <div class="col-md-4 d-flex flex-md-column mt-7 mt-md-0">
              <h2 class="mb-4 fs-4 fs-sm-2 d-md-block d-none">精選文章</h2>
              <div
                class="mt-md-auto d-flex align-items-center align-items-md-start flex-md-column ms-md-0 mb-md-0 justify-content-between w-100"
              >
                <div class="article_swiper-pagination d-flex column-gap-1 mb-md-6 me-auto newsreader-font">
                  <span class="swiper-pagination-current">1</span>
                  <span>/</span>
                  <span class="swiper-pagination-total">5</span>
                </div>
                <div class="swiper-controls hr-line" role="group" aria-label="Slider navigation">
                  <button class="article_swiper-button-prev switcher" aria-label="Previous slide">
                    <span class="bi bi-arrow-left" aria-hidden="true"></span>
                  </button>
                  <button class="article_swiper-button-next switcher" aria-label="Next slide">
                    <span class="bi bi-arrow-right" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-8 mb-3">
              <div class="swiper article_swiper overflow-hidden">
                <div class="swiper-wrapper d-flex">
                  <div class="swiper-slide flex-shrink-0">
                    <!-- Card 1 -->
                    <div class="card card_article">
                      <picture>
                        <source media="(max-width: 576px)" srcset="../assets/images/articles-1-sm.png" />
                        <img src="../assets/images/articles-1.png" class="card-img-top" alt="articles" />
                      </picture>
                      <div class="card-body">
                        <h5 class="card-title">私人島嶼的露營奇遇記</h5>
                        <p class="card-text">
                          遠離塵囂,用全新的眼光重塑生活的舒適本味。徜徉在環山綠野間,在這處隱世私家別墅裡,盡情領略池畔優閒時光,任林間微風撫面,聆聽花鳥嘶啞之音,重拾內心深處的寧靜安詳...
                        </p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-custom">Read More</a>
                        <!-- <span class="badge badge-custom ms-auto">會員專屬</span> -->
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide flex-shrink-0">
                    <!-- Card 2 -->
                    <div class="card card_article">
                      <picture>
                        <source media="(max-width: 576px)" srcset="../assets/images/articles-2-sm.png" />
                        <img src="../assets/images/articles-2.png" class="card-img-top" alt="articles" />
                      </picture>
                      <div class="card-body">
                        <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                        <p class="card-text">
                          在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                        </p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-custom">Read More</a>
                        <span class="badge badge-custom ms-auto">會員專屬</span>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide flex-shrink-0">
                    <!-- Card 2 -->
                    <div class="card card_article">
                      <picture>
                        <source media="(max-width: 576px)" srcset="../assets/images/articles-2-sm.png" />
                        <img src="../assets/images/articles-2.png" class="card-img-top" alt="articles" />
                      </picture>
                      <div class="card-body">
                        <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                        <p class="card-text">
                          在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                        </p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-custom">Read More</a>
                        <span class="badge badge-custom ms-auto">會員專屬</span>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide flex-shrink-0">
                    <!-- Card 2 -->
                    <div class="card card_article">
                      <picture>
                        <source media="(max-width: 576px)" srcset="../assets/images/articles-2-sm.png" />
                        <img src="../assets/images/articles-2.png" class="card-img-top" alt="articles" />
                      </picture>
                      <div class="card-body">
                        <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                        <p class="card-text">
                          在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                        </p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-custom">Read More</a>
                        <span class="badge badge-custom ms-auto">會員專屬</span>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide flex-shrink-0">
                    <!-- Card 2 -->
                    <div class="card card_article">
                      <picture>
                        <source media="(max-width: 576px)" srcset="../assets/images/articles-2-sm.png" />
                        <img src="../assets/images/articles-2.png" class="card-img-top" alt="articles" />
                      </picture>
                      <div class="card-body">
                        <h5 class="card-title">窺探米其林三星主廚的絕密手藝</h5>
                        <p class="card-text">
                          在這間隱世餐廳,來一場味蕾與靈魂的盛宴。幽微燈火下,透過巨匠大師的獨門料理,領略食材中蘊藏的大自然馨香脈絡。營造只屬於你我的私密小宇宙,沉浸其中,品嘗人生至臻至美的風味...
                        </p>
                      </div>
                      <div class="card-footer">
                        <a href="#" class="text-custom">Read More</a>
                        <span class="badge badge-custom ms-auto">會員專屬</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 母親節強檔活動  -->
      <section class="section-momAction py-8 py-sm-10 bg-primary-200">
        <div class="container d-flex flex-column align-items-center mom-ac position-relative">
          <p class="section-momAction-subTitle mb-2 mb-md-4">\ 母親節強檔活動 /</p>
          <h2 class="section-momAction-Title mb-5 mb-md-4">家庭訂閱方案限時 7 折</h2>
          <ul class="list-unstyled">
            <li class="fs-6 mb-3">
              <i class="bi bi-check me-2"></i>
              每月最新文章無限閱讀
            </li>
            <li class="fs-6 mb-3">
              <i class="bi bi-check me-2"></i>
              專屬會員限定內容
            </li>
            <li class="fs-6 mb-3">
              <i class="bi bi-check me-2"></i>
              定期電子報
            </li>
            <li class="fs-6 mb-3">
              <i class="bi bi-check me-2"></i>
              年度精選禮物
            </li>
            <li class="fs-6 mb-3">
              <i class="bi bi-check me-2"></i>
              24 /7 優先客戶服務
            </li>
            <li class="fs-6">
              <i class="bi bi-check me-2"></i>
              為每個成員量身打造專屬行程
            </li>
          </ul>
          <button type="button" class="btn btn-custom mt-5">我想了解</button>
        </div>
      </section>

      <!-- 大家都在看 -->
      <section class="section-everyLook py-8 py-sm-10">
        <div class="container">
          <h2 class="section-title mb-7">大家都在看</h2>
          <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
              <div class="list-group p-5 row-gap-5 bg-white rounded-3 h-100" id="list-tab" role="tablist">
                <a
                  class="list-group-item list-group-item-action active border-0 p-3 rounded-1 h5"
                  id="list-alcohol-list"
                  data-bs-toggle="tab"
                  href="#list-alcohol"
                  role="tab"
                  aria-controls="list-alcohol"
                  aria-selected="true"
                >
                  <p class="h5 mb-0">酒精路跑地圖</p>
                </a>
                <a
                  class="list-group-item list-group-item-action border-0 p-3 h5"
                  id="list-ramen-list"
                  data-bs-toggle="tab"
                  href="#list-ramen"
                  role="tab"
                  aria-controls="list-ramen"
                  aria-selected="false"
                >
                  <p class="h5 mb-0">台北拉麵圖鑑</p>
                </a>
                <a
                  class="list-group-item list-group-item-action border-0 p-3 h5"
                  id="list-island-list"
                  data-bs-toggle="tab"
                  href="#list-island"
                  role="tab"
                  aria-controls="list-island"
                  aria-selected="false"
                >
                  <p class="h5 mb-0">海島自由行</p>
                </a>
                <a
                  class="list-group-item list-group-item-action border-0 p-3 h5"
                  id="list-short-trip-list"
                  data-bs-toggle="tab"
                  href="#list-short-trip"
                  role="tab"
                  aria-controls="list-short-trip"
                  aria-selected="false"
                >
                  <p class="h5 mb-0">短天數出國推薦</p>
                </a>
                <a
                  class="list-group-item list-group-item-action border-0 p-3 h5"
                  id="list-camping-list"
                  data-bs-toggle="tab"
                  href="#list-camping"
                  role="tab"
                  aria-controls="list-camping"
                  aria-selected="false"
                >
                  <p class="h5 mb-0">週末露營趣</p>
                </a>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="hotTravel_swiper overflow-hidden">
                <div class="swiper-wrapper tab-content bg-white h-100 p-5" id="nav-tabContent">
                  <!-- hot1 -->
                  <div
                    class="swiper-slide tab-pane fade show active"
                    id="list-alcohol"
                    role="tabpanel"
                    aria-labelledby="list-alcohol-list"
                  >
                    <div class="card card_hotTravel">
                      <div class="card-header">
                        <h3 class="card-title">酒精路跑地圖</h3>
                        <ul class="list-unstyled">
                          <li class="text-truncate">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                          <li class="text-truncate">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                          <li class="text-truncate">｜台南老宅手工酒藏,尋味百年人文釀意</li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-1-sm.png" />
                          <img src="../assets/images/hots-1.png" class="img-fluid" alt="酒精路跑地圖圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-2-sm.png" />
                          <img src="../assets/images/hots-2.png" class="img-fluid" alt="酒精路跑地圖圖片2" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-3-sm.png" />
                          <img src="../assets/images/hots-3.png" class="img-fluid" alt="酒精路跑地圖圖片3" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-4-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="酒精路跑地圖圖片4" />
                        </picture>
                      </div>
                      <div class="card-footer">
                        <div class="badge-group">
                          <span class="badge badge-custom">#夜貓行程</span>
                          <span class="badge badge-custom">#barhopping</span>
                          <span class="badge badge-custom">#全台酒吧</span>
                        </div>
                        <a href="#" class="text-custom">
                          View More
                          <i class="icon bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- hot2 -->
                  <div
                    class="swiper-slide tab-pane fade"
                    id="list-ramen"
                    role="tabpanel"
                    aria-labelledby="list-ramen-list"
                  >
                    <div class="card card_hotTravel">
                      <div class="card-header">
                        <h3 class="card-title">台北拉麵圖鑑</h3>
                        <ul class="list-unstyled">
                          <li class="text-truncate">｜城市酒吧人氣榜,盤點當紅熱門酒吧</li>
                          <li class="text-truncate">｜你要的調酒師在這裡！五月全台酒吧客座活動整理</li>
                          <li class="text-truncate">｜台南老宅手工酒藏,尋味百年人文釀意</li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-3-sm.png" />
                          <img src="../assets/images/hots-3.png" class="img-fluid" alt="台北拉麵圖鑑圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-3-sm.png" />
                          <img src="../assets/images/hots-3.png" class="img-fluid" alt="台北拉麵圖鑑圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-3-sm.png" />
                          <img src="../assets/images/hots-3.png" class="img-fluid" alt="台北拉麵圖鑑圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-3-sm.png" />
                          <img src="../assets/images/hots-3.png" class="img-fluid" alt="台北拉麵圖鑑圖片2" />
                        </picture>
                      </div>
                      <div class="card-footer">
                        <div class="badge-group">
                          <span class="badge badge-custom">#雞白湯</span>
                          <span class="badge badge-custom">#拉麵</span>
                          <span class="badge badge-custom">#台北美食</span>
                        </div>
                        <a href="#" class="text-custom">
                          View More
                          <i class="icon bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- hot3 -->
                  <div
                    class="swiper-slide tab-pane fade"
                    id="list-island"
                    role="tabpanel"
                    aria-labelledby="list-island-list"
                  >
                    <div class="card card_hotTravel">
                      <div class="card-header">
                        <h3 class="card-title">海島自由行</h3>
                        <ul class="list-unstyled">
                          <li class="text-truncate">｜私島慢活島嶼生活 - 在熱帶天堂品...</li>
                          <li class="text-truncate">｜海島漂流記 - 在陽光、沙灘和比基...</li>
                          <li class="text-truncate">｜島嶼蹤跡 - 揭開加勒比海上世外桃...</li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-4-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="海島自由行圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-4-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="海島自由行圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-4-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="海島自由行圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-4-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="海島自由行圖片2" />
                        </picture>
                      </div>
                      <div class="card-footer">
                        <div class="badge-group">
                          <span class="badge badge-custom">#熱帶國家</span>
                          <span class="badge badge-custom">#海邊</span>
                          <span class="badge badge-custom">#無敵海景</span>
                        </div>
                        <a href="#" class="text-custom">
                          View More
                          <i class="icon bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- hot4 -->
                  <div
                    class="swiper-slide tab-pane fade"
                    id="list-short-trip"
                    role="tabpanel"
                    aria-labelledby="list-short-trip-list"
                  >
                    <div class="card card_hotTravel">
                      <div class="card-header">
                        <h3 class="card-title">短天數出國推薦</h3>
                        <ul class="list-unstyled">
                          <li class="text-truncate">｜72小時東京遊走 - 當個時尚東京通</li>
                          <li class="text-truncate">｜48小時曼谷遊玩全攻略</li>
                          <li class="text-truncate">｜三天兩夜賞櫻微醺東京</li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-5-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="短天數出國推薦圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-5-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="短天數出國推薦圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-5-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="短天數出國推薦圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-5-sm.png" />
                          <img src="../assets/images/hots-4.png" class="img-fluid" alt="短天數出國推薦圖片2" />
                        </picture>
                      </div>
                      <div class="card-footer">
                        <div class="badge-group">
                          <span class="badge badge-custom">#說走就走</span>
                          <span class="badge badge-custom">#出國玩</span>
                          <span class="badge badge-custom">#東亞</span>
                        </div>
                        <a href="#" class="text-custom">
                          View More
                          <i class="icon bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- hot5 -->
                  <div
                    class="swiper-slide tab-pane fade"
                    id="list-camping"
                    role="tabpanel"
                    aria-labelledby="list-camping-list"
                  >
                    <div class="card card_hotTravel">
                      <div class="card-header">
                        <h3 class="card-title">週末露營趣</h3>
                        <ul class="list-unstyled">
                          <li class="text-truncate">｜週末說走就走露營記</li>
                          <li class="text-truncate">｜城市野營日記</li>
                          <li class="text-truncate">｜和寵物去露營 - 大自然之旅的雙倍...</li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-2-sm.png" />
                          <img src="../assets/images/hots-2.png" class="img-fluid" alt="週末露營趣圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-2-sm.png" />
                          <img src="../assets/images/hots-2.png" class="img-fluid" alt="週末露營趣圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-2-sm.png" />
                          <img src="../assets/images/hots-2.png" class="img-fluid" alt="週末露營趣圖片1" />
                        </picture>
                        <picture>
                          <source media="(max-width: 576px)" srcset="../assets/images/hots-2-sm.png" />
                          <img src="../assets/images/hots-2.png" class="img-fluid" alt="週末露營趣圖片2" />
                        </picture>
                      </div>
                      <div class="card-footer">
                        <div class="badge-group">
                          <span class="badge badge-custom">#戶外</span>
                          <span class="badge badge-custom">#露營控</span>
                          <span class="badge badge-custom">#四季</span>
                        </div>
                        <a href="#" class="text-custom">
                          View More
                          <i class="icon bi bi-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 品味生活 -->
      <section class="section-life py-8 py-sm-10">
        <div class="container">
          <h2 class="section-title mb-5 mb-md-7">品味生活</h2>
          <div class="row">
            <div class="col-md-4 h-100">
              <div class="card card_life">
                <div class="card-body">
                  <h3 class="card-title">食.</h3>
                  <picture class="card-picture">
                    <source media="(min-width:576px)" srcset="../assets/images/life-1.png" />
                    <img src="../assets/images/life-1-sm.png" alt="life" class="card-img" />
                  </picture>
                  <div class="card-text-container">
                    <p class="card-text">｜米其林三星主廚的那些絕活傳奇</p>
                    <p class="card-text">｜探秘成都的地道川味秘技與魅力</p>
                    <p class="card-text">｜義大利釀酒師對於酒的堅持執著</p>
                  </div>
                  <a href="#" class="text-custom text-custom-sm text-center">
                    View More
                    <span class="icon bi bi-arrow-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4 h-100">
              <div class="card card_life">
                <div class="card-body">
                  <h3 class="card-title">藝.</h3>
                  <picture class="card-picture">
                    <source media="(min-width:576px)" srcset="../assets/images/life-2.png" />
                    <img src="../assets/images/life-2-sm.png" alt="life" class="card-img" />
                  </picture>
                  <div class="card-text-container">
                    <p class="card-text">｜解構教主級時裝設計大師的獨特美學</p>
                    <p class="card-text">｜當代攝影師鏡頭中的光影離奇</p>
                    <p class="card-text">｜帶你穿縮中世紀，夏季文藝復興展</p>
                  </div>
                  <a href="#" class="text-custom text-custom-sm text-center">
                    View More
                    <span class="icon bi bi-arrow-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-4 h-100">
              <div class="card card_life">
                <div class="card-body">
                  <h3 class="card-title">旅.</h3>
                  <picture class="card-picture">
                    <source media="(min-width:576px)" srcset="../assets/images/life-3.png" />
                    <img src="../assets/images/life-3-sm.png" alt="life" class="card-img" />
                  </picture>
                  <div class="card-text-container">
                    <p class="card-text">｜遠離喧囂,偶探巴塔哥尼亞終界</p>
                    <p class="card-text">｜東京深度六區,帶你細品極簡魅力</p>
                    <p class="card-text">｜專賣奇珍異寶的東歐地下夜市</p>
                  </div>
                  <a href="#" class="text-custom text-custom-sm text-center">
                    View More
                    <span class="icon bi bi-arrow-right"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Vivre 給你意想不到的生活風格提案 -->
      <section class="section-showcase py-8 py-sm-10 bg-primary-200">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="showcase-content">
                <p class="mb-4">今天又不知道要去哪裡了嗎？</p>
                <h2 class="mb-4">
                  <strong class="gurmukhi-font mb-1">Vivre</strong>
                  <br class="d-md-none" />
                  給你意想不到的生活風格提案
                </h2>
                <a href="./pay.html" class="btn btn-custom mt-5 mx-auto ms-md-0 d-inline-block">馬上訂閱</a>
              </div>
            </div>
            <div class="col-md-6 mt-9 mt-md-0 overflow-hidden">
              <div class="row row-gap-6 flex-nowrap flex-md-wrap pt-9">
                <div class="col-md-6">
                  <div class="card card_showcase">
                    <div class="card-title">
                      <h6>人氣行程</h6>
                    </div>
                    <div class="hover-overlay">
                      <img src="../assets/images/projects-2.png" alt="projects" />
                    </div>
                    <div class="card-text">
                      <p class="text-white fs-6">親子露營要帶什麼？</p>
                      <span class="bi bi-arrow-right"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card_showcase" style="transform: translateY(-64px)">
                    <div class="card-title">
                      <h6>編輯推薦</h6>
                    </div>
                    <div class="hover-overlay">
                      <img src="../assets/images/projects-1.png" alt="projects" />
                    </div>
                    <div class="card-text">
                      <p class="text-white fs-6">山女孩的健行筆記</p>
                      <span class="bi bi-arrow-right"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card_showcase">
                    <div class="card-title">
                      <h6>編輯推薦</h6>
                    </div>
                    <div class="hover-overlay">
                      <img src="../assets/images/projects-4.png" alt="projects" />
                    </div>
                    <div class="card-text">
                      <p class="text-white fs-6">質感房間改造攻略！</p>
                      <span class="bi bi-arrow-right"></span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card_showcase" style="transform: translateY(-64px)">
                    <div class="card-title">
                      <h6>熱門文章</h6>
                    </div>
                    <div class="hover-overlay">
                      <img src="../assets/images/projects-3.png" alt="projects" />
                    </div>
                    <div class="card-text">
                      <p class="text-white fs-6">適合溜小孩的海邊景點推薦</p>
                      <span class="bi bi-arrow-right"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- 想看什麼主題由你決定！ -->
      <section class="section-decision py-8 py-sm-10">
        <div class="container">
          <div class="row flex-column flex-md-row">
            <div class="col d-flex">
              <h2 class="decision-title mx-auto ms-md-0 mb-3">想看什麼主題由你決定！</h2>
            </div>
            <div class="col">
              <div class="d-flex flex-column align-items-center align-items-md-end">
                <p class="decision-txt mb-3">歡迎投稿與我們分享</p>
                <button class="btn btn-custom mt-5 mx-auto me-md-0" type="button">聯絡我們</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
