<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signIn</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <section class="section-signin">
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <div class="signin-content bg-white rounded-2 p-5 p-md-7 d-flex flex-column row-gap-5 row-gap-md-7">
                <h4 class="text-accent-200 fw-bolder">登入</h4>
                <form class="d-flex flex-column row-gap-5 row-gap-md-7">
                  <div class="d-flex flex-column row-gap-5 row-gap-md-7">
                    <div>
                      <label for="username" class="form-label h6 text-neutral-500">會員帳號</label>
                      <input
                        type="text"
                        class="form-control rounded-2 bg-neutral-200"
                        id="username"
                        placeholder="請輸入會員帳號"
                      />
                    </div>
                    <div>
                      <label for="password" class="form-label h6 text-neutral-500">密碼</label>
                      <input
                        type="password"
                        class="form-control rounded-2 bg-neutral-200"
                        id="password"
                        placeholder="請輸入密碼"
                      />
                    </div>
                  </div>
                  <button type="submit" class="btn btn-custom fs-6 w-100 text-white">
                    立即登入
                    <span class="bi bi-arrow-right ms-2"></span>
                  </button>
                </form>
                <p class="text-center text-neutral-300 position-relative deco-hr">
                  <span>或以其他方式登入</span>
                </p>
                <div>
                  <a href="https://www.google.com.tw/?hl=zh_TW" class="btn w-100 mb-1 border-0 bg-neutral-200">
                    <img
                      src="../assets/images/icons-google.png"
                      alt="Google"
                      width="18"
                      height="18"
                      class="icon me-2"
                    />
                    使用 Google 登入
                  </a>
                  <a href="https://www.facebook.com/?locale=zh_TW" class="btn w-100 border-0 bg-neutral-200">
                    <img
                      src="../assets/images/icons-facebook.png"
                      alt="Facebook"
                      width="18"
                      height="18"
                      class="icon me-2"
                    />
                    使用 Facebook 登入
                  </a>
                </div>
                <p class="text-center">
                  還不是會員？
                  <a href="./signUp.html" class="text-accent-200">點此註冊</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
